-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: agency_crm
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `client` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `source` varchar(191) NOT NULL,
  `closer` varchar(191) NOT NULL,
  `email` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `salespersonId` varchar(191) DEFAULT NULL,
  `commissionRate` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Client_salespersonId_fkey` (`salespersonId`),
  CONSTRAINT `Client_salespersonId_fkey` FOREIGN KEY (`salespersonId`) REFERENCES `salesperson` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
INSERT INTO `client` VALUES ('5a5ed641-65b1-49ca-a81d-50b347ff8942','Cobra Design LTDA','meta','agency',NULL,NULL,'2025-11-27 19:58:42.127',NULL,NULL),('5b43ba10-300b-4bfc-9861-f9d3f9830a5c','Careca Marketing','referral','commercial',NULL,NULL,'2025-11-27 19:59:50.230','798be64b-4f84-43a7-8057-685277ba2736',12),('824c9490-cc06-4f71-b37d-d5a0d3af51bf','Tipotil','prospecting','agency',NULL,NULL,'2025-11-27 20:02:14.685',NULL,NULL),('93d06bdb-ccb9-4ac3-b817-071fa8101807','Vazato','prospecting','commercial',NULL,NULL,'2025-11-27 20:02:50.703','798be64b-4f84-43a7-8057-685277ba2736',20);
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract`
--

DROP TABLE IF EXISTS `contract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contract` (
  `id` varchar(191) NOT NULL,
  `clientId` varchar(191) NOT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) NOT NULL,
  `value` double NOT NULL,
  `totalValue` double NOT NULL,
  `isPrepaid` tinyint(1) NOT NULL DEFAULT 0,
  `durationMonths` int(11) NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `contractUrl` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Contract_clientId_fkey` (`clientId`),
  CONSTRAINT `Contract_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `client` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract`
--

LOCK TABLES `contract` WRITE;
/*!40000 ALTER TABLE `contract` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesperson`
--

DROP TABLE IF EXISTS `salesperson`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salesperson` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesperson`
--

LOCK TABLES `salesperson` WRITE;
/*!40000 ALTER TABLE `salesperson` DISABLE KEYS */;
INSERT INTO `salesperson` VALUES ('798be64b-4f84-43a7-8057-685277ba2736','Fabio Vargas','47991145569','2025-11-27 19:59:23.756','2025-11-27 19:59:23.756');
/*!40000 ALTER TABLE `salesperson` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `systemsettings`
--

DROP TABLE IF EXISTS `systemsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `systemsettings` (
  `id` varchar(191) NOT NULL,
  `appName` varchar(191) NOT NULL DEFAULT 'Agency CRM',
  `primaryColor` varchar(191) NOT NULL DEFAULT '#3B82F6',
  `primaryForegroundColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `surfaceColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `backgroundColor` varchar(191) NOT NULL DEFAULT '#F1F5F9',
  `borderColor` varchar(191) NOT NULL DEFAULT '#E2E8F0',
  `logoUrl` varchar(191) DEFAULT NULL,
  `faviconUrl` varchar(191) DEFAULT NULL,
  `darkBackgroundColor` varchar(191) NOT NULL DEFAULT '#0F172A',
  `darkBorderColor` varchar(191) NOT NULL DEFAULT '#334155',
  `darkSurfaceColor` varchar(191) NOT NULL DEFAULT '#1E293B',
  `lightBackgroundColor` varchar(191) NOT NULL DEFAULT '#F1F5F9',
  `lightBorderColor` varchar(191) NOT NULL DEFAULT '#E2E8F0',
  `lightSurfaceColor` varchar(191) NOT NULL DEFAULT '#FFFFFF',
  `adminPassword` varchar(191) NOT NULL DEFAULT '123',
  `adminUsername` varchar(191) NOT NULL DEFAULT 'admin',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `systemsettings`
--

LOCK TABLES `systemsettings` WRITE;
/*!40000 ALTER TABLE `systemsettings` DISABLE KEYS */;
INSERT INTO `systemsettings` VALUES ('32d685a3-444e-49c7-bfde-e6d12e99fd73','Agency CRM','#3B82F6','#FFFFFF','#1E293B','#0F172A','#334155','','','#0F172A','#334155','#1E293B','#F1F5F9','#E2E8F0','#FFFFFF','123','admin'),('6544b2f6-33eb-47f5-a240-ae2f9925a8eb','Agency CRM','#3B82F6','#FFFFFF','#1E293B','#0F172A','#334155',NULL,NULL,'#0F172A','#334155','#1E293B','#F1F5F9','#E2E8F0','#FFFFFF','123','admin');
/*!40000 ALTER TABLE `systemsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction` (
  `id` varchar(191) NOT NULL,
  `contractId` varchar(191) NOT NULL,
  `clientId` varchar(191) NOT NULL,
  `dueDate` datetime(3) NOT NULL,
  `amount` double NOT NULL,
  `status` varchar(191) NOT NULL,
  `paymentDate` datetime(3) DEFAULT NULL,
  `description` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Transaction_contractId_fkey` (`contractId`),
  KEY `Transaction_clientId_fkey` (`clientId`),
  CONSTRAINT `Transaction_clientId_fkey` FOREIGN KEY (`clientId`) REFERENCES `client` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `Transaction_contractId_fkey` FOREIGN KEY (`contractId`) REFERENCES `contract` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `username` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_username_key` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-28  8:43:35
